@import "@/assets/styles/resources/variables/";

@mixin sizes-classes($screen-name: "") {
    .mt#{$screen-name}-auto {
      margin-top: auto !important;
    }
    .mr#{$screen-name}-auto {
      margin-right: auto !important;
    }
    .mb#{$screen-name}-auto {
      margin-bottom: auto !important;
    }
    .ml#{$screen-name}-auto {
      margin-left: auto !important;
    }
    .mx#{$screen-name}-auto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    .my#{$screen-name}-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    .w#{$screen-name}-25 {
      width: 25% !important;
    }
    .w#{$screen-name}-50 {
      width: 50% !important;
    }
    .w#{$screen-name}-100 {
      width: 100% !important;
    }
  
    @each $index, $size in $sizes {
      .m#{$screen-name}-#{$index} {
        margin: $size !important;
      }
      .mx#{$screen-name}-#{$index} {
        margin-right: $size !important;
        margin-left: $size !important;
      }
      .my#{$screen-name}-#{$index} {
        margin-top: $size !important;
        margin-bottom: $size !important;
      }
      .ml#{$screen-name}-#{$index} {
        margin-left: $size !important;
      }
      .mr#{$screen-name}-#{$index} {
        margin-right: $size !important;
      }
      .mt#{$screen-name}-#{$index} {
        margin-top: $size !important;
      }
      .mb#{$screen-name}-#{$index} {
        margin-bottom: $size !important;
      }
  
      .p#{$screen-name}-#{$index} {
        padding: $size !important;
      }
      .px#{$screen-name}-#{$index} {
        padding-right: $size !important;
        padding-left: $size !important;
      }
      .py#{$screen-name}-#{$index} {
        padding-top: $size !important;
        padding-bottom: $size !important;
      }
      .pl#{$screen-name}-#{$index} {
        padding-left: $size !important;
      }
      .pr#{$screen-name}-#{$index} {
        padding-right: $size !important;
      }
      .pt#{$screen-name}-#{$index} {
        padding-top: $size !important;
      }
      .pb#{$screen-name}-#{$index} {
        padding-bottom: $size !important;
      }
    }
  }