@import "@/assets/styles/resources/";

html, #app, body {
    @include sizes-classes;

    display: flex;
    height: 100%;
    width: 100%;
    background-color: $color-light-gray;
}

body {
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}