@import "@/assets/styles/resources/";

html, #app, body {
    @include sizes-classes;

    display: flex;
    height: 100%;
    width: 100%;
    background-color: $color-light-gray;
}

body {
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    color: $color-blue;
}

h2 {
    font-size: 24px;
}

.c-pointer {
    cursor: pointer;
}

.w-100 {
    width: 100% !important;
}
.w-auto {
width: auto !important;
}

.d-flex {
    display: flex !important;
}
.ai-center {
    align-items: center !important;
}
.jc-center {
    justify-content: center !important;
}
.jc-sb {
    justify-content: space-between !important;
}
.f-wrap {
    flex-wrap: wrap !important;
}