@import "@/assets/styles/resources/";

html, #app, body {
    @include sizes-classes;

    display: flex;
    height: 100%;
    width: 100%;
    background-color: $color-background;
}

body {
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}